h6{
    color: brown;
}
    body {
        background-color: blueviolet;
    }

.par-p{

    background-color: yellow;

}    
#hed-h{

    background-color: yellow;

}
.abd-a{
    background-color: violet;
}